<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <Pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <!-- 루트(글로벌) 로거 -->
  <!--<root level="DEBUG">-->
    <!--<appender-ref ref="consoleAppender"/>-->
  <!--</root>-->

  <root level="INFO">
    <appender-ref ref="consoleAppender" />
    <appender-ref ref="fileAppender" />
  </root>

  <!--
    <root level="WARN">
      <appender-ref ref="consoleAppender" />
    </root>
  -->
  <!--
    <root level="ERROR">
      <appender-ref ref="consoleAppender" />
    </root>
  -->
</configuration>
